* {
    /* Delete the default html space */
    margin: 0;
    padding: 0;
    text-decoration: none;
}

h1 {
    text-align: center;
}

img {
    /* serve as placeholder while loading real image */
    background: #3a3a90;
    width: 300px;
    height: 400px;
    
    margin: auto;
    display: block;
    border: 2px solid purple;
}