:root {
    /* --background: rgba(127, 255, 212); */
    --navigation: rgb(127, 255, 212);
    --footer: rgb(2, 48, 71);
    --yellow: rgb(255, 183, 6);

    --nav-text: 'Lato', sans-serif;
    --paragraphs: 'Open Sans', sans-serif;
    --titles: 'Roboto', sans-serif;
    --testing: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    font-weight: 400;
    font-size: 16px;
    min-width: 300px;

    --fs-xl: 5rem;
    --fs-600: 2rem;
    --fs-500: 1.5rem;
    --fs-400: 1rem;
}

* {
    /* Delete the default html space */
    margin: 0;
    padding: 0;
    text-decoration: none;

    /* property allows us to include the 
    padding and border in an element's 
    total width and height so the interior
    never goes beyond specifications */
    box-sizing: border-box;

}



#banner {
    padding: 1rem;
    text-align: center;
    width: 100%;
    font-family: var(--nav-text);
    font: 1rem;
    text-transform: uppercase;
    font-size: var(--fs-400);
}

header,
footer {
    background: var(--navigation);
    width: 100%;
    text-align: center;
    position: relative;

    /* position: relative places an element relative to its current 
    position without changing the layout around it */
    /* position: relative; */

    /* position: absolute places an element relative to its parent's 
    position and changing the layout around it */
    /* position: absolute; */

    /* means it always stays in the same place even if the page is scrolled. */
    /* position: fixed; */

    /* A sticky element toggles between relative and fixed , depending on 
    the scroll position. It is positioned relative until a given offset 
    position is met in the viewport - then it "sticks" in place 
    (like position:fixed). */
    /* position: sticky; */

    /* width: 100%; */

    /* CSS property that defines the order 
    of overlapping HTML elements. Elements 
    with a higher index will be placed on 
    top of elements with a lower index */
    /* z-index: 100; */
}

main {
    /*It helps the footer to be on bottom */
    flex-grow: 1;

    background-color: aliceblue;
    width: 100%;
    height: 100vh;
}

.logo {
    /* Align logo to center */
    width: 85px;
    height: 85px;
    display: block;
    padding: 10px;
}

h1 {
    position: absolute;
    font-size: 16px;
    text-align: left;
    color: var(--footer);
    top: 4px;
    left: 95px;
}

.social-icons {
    background-color: white;
}

.facebook-icon,
.instagram-icon {
    float: left;
    width: 2.5rem;
    height: 2.5rem;
}

#date2 {
    font-size: 12px;
    float: right;
    padding: .5rem;
    top: 10px;
    right: 100px;
}

#hamburgerBtn {
    position: absolute;
    padding: 1rem;
    font-size: 2.5rem;
    border-style: none;
    background-color: transparent;
    color: var(--footer);
    cursor: pointer;

    right: 0;
    top: 0;
}

#hamburgerBtn,
nav ul li {
    font-family: var(--nav-text);
    font-weight: bold;
}

#hamburgerBtn span:nth-child(1) {
    display: block;
}

#hamburgerBtn span:nth-child(2) {
    display: none;
}

#hamburgerBtn.open span:nth-child(1) {
    display: none;
}

#hamburgerBtn.open span:nth-child(2) {
    display: block;
}

span {
    font-family: var(--nav-text);
    font-weight: bolder;
}

nav ul {
    display: none;
    list-style-type: none;
}

nav ul li {
    flex-grow: 1;
    flex-shrink: 1;
    font-size: 1.5rem;
    text-align: center;

    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

nav ul li a {
    /* Makes whole button link clickable */
    display: block;
    width: 100%;
    height: 100%;

    /* Gives space around */
    padding: 2rem 0;
    color: var(--footer);
}

nav ul.open {
    display: block;
}

nav ul li:hover {
    background-color: aliceblue;
}

nav ul li.active {
    background-color: var(--footer);
    /* border-style: outset; */
}

nav ul li.active a {
    color: aliceblue;
}

.content {
    display: grid;
    gap: 2rem;

    padding: 2rem 1em;
    min-height: 100vh;
    height: auto;
    background-color: aliceblue;
    background-size: cover;
    /* border: 2px solid red; */
}

section {
    padding: 1rem;
    width: 100%;
    min-height: 10rem;
    height: auto;
    border: 2px solid rgb(255, 106, 0);
}

.img1 {
    width: 100%;
    object-fit: cover;
    object-position: right;
}

.grid-col-span:first-child {
    padding: 0;
}

/* Hiding last spotlight 
The Join section*/
.grid-col-span:nth-child(5) {
    display: none;
    /* visibility: hidden; */
}

.grid-nested {
    width: 100%;
    height: 20rem;
    border: 2px solid rgb(128, 0, 100);
    padding: 1rem;
}

/* Hiding last spotlight 3 section*/
.grid-nested:last-child {
    display: none;
    /* visibility: hidden; */
}

.footer-col {
    text-align: center;
    padding: 1em;
    background-color: var(--navigation);
    /* border: 2px solid rgb(255, 0, 247);  */
    margin: auto;
    justify-content: center;
}

.logo-footer {
    display: flex;
    margin: auto;
    width: 150px;
    height: 150px;

    /* Align logo to center */
    /* display: inline-block; */
    padding: 1rem;
    min-width: 8rem;
    max-width: 10rem;
    align-items: center;
}


#copy-right-footer {
    padding: 2rem;
    text-align: center;
    font-size: var(--fs-400);
    background-color: var(--navigation);
}

#author::after {
    content: "\a";
    white-space: pre;
}




/* ************** */
/* DISCOVERY PAGE */
/* ************** */

.grid-col-span-discover h2 {
    /* position: absolute; */
    /* font-size: 16px; */
    text-align: center;
    font-family: var(--titles);
    color: #004730;
    /* text-shadow: 2px 4px 4px rgba(30, 29, 29, 0.2); */
    text-shadow: 10px 10px 15px rgb(167, 162, 162);
    font-size: var(--fs-600);
    /* top: 4px;
    left: 95px; */
    margin: 1rem;
}

span {
    display: block;
    text-align: center;
  }

.lazy {
    margin: 1rem;

    /* serve as placeholder while loading real image */
    display: block;
    background: #3a3a90;
    width: 300px;
    height: auto;

    margin: auto;
    display: block;
    background-size: cover;
    /* border: 2px solid purple; */

    border-radius: 10%;
}

.grid-col-span-discover p {
    text-align: justify;
    padding: .5rem;
    margin: 0 0 2rem 0;
}

.lazy {
    webkit-filter: blur(4px);
    /* Chrome, Safari, Opera */
    filter: blur(5px);

}

img:hover {
    webkit-filter: none;
    /* Chrome, Safari, Opera */
    filter: none;
}