@media only screen and (min-width:64rem) {

    .logo {
        /* grid-column: 1/2; */
        justify-self: center;
        width: 150px;
        height: auto;
        padding: 20px;
    }

    .facebook-icon,
    .instagram-icon {
        top: 5px;
        left: 67%;
        /* width: 60px; */
        /* height: auto; */
    }

    .instagram-icon {
        left: 71%;
    }

    #date2 {
        position: absolute;
        top: .5rem;
        right: 2.5rem;
        /* padding: 15px 20px; */

    }

    #hamburgerBtn {
        /* Hides hamburger button */
        display: none;
    }

    nav {
        position: absolute;
        top: 3rem;
        right: 2rem;
        /* justify-content: space-around; */
    }

    nav ul {
        display: flex;
    }

    nav ul li {
        font-size: 1.5rem;
        border-top: none;
        border-bottom: none;
        border-radius: 10px;

    }

    nav ul li a {
        padding: 15px;
    }

    .content {
        /* grid: flex; */
        grid-template-columns: repeat(4, 1fr);
    }

    /* Hero sect container */
    .grid-col-span:first-child {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    /* Event sect container */
    .grid-col-span:nth-child(2) {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;

    }

    /* Weather sect container */
    .grid-col-span:nth-child(3) {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
    }

    /* News sect container */
    .grid-col-span:nth-child(4) {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 3;

    }

    /* Join sect container */
    .grid-col-span:nth-child(5) {
        display: block;
        visibility: visible;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
    }

    /* Spotlights sect container */
    .grid-col-span:last-child {
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 4;

        /* Nested grid in section */
        display: grid;
        grid-template-columns: 1fr;
        gap: 0.5em;

    }

    .logo-footer {
        min-width: 50%;
        max-width: 50%;
    }

    .grid-nested:last-child {
        display: block;
        visibility: visible;
    }
}