* {
    /* Delete the default html space */
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    text-align: center;
    height: 100vh;
}

header, footer{
    background-color:brown;
    color: bisque;
    padding: 1rem;
}

h1 {
    font-size: 2rem;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    flex-wrap: wrap;
}

.cards img {
    margin: 20px ;
    max-width: 85%;
    height: auto;
    border-radius: 50%;
}

.cards section {
    background-color: rgba(131, 200, 212, 0.833);
    margin: 15px;
    padding: 10px;
    border-radius: 1rem;
}