/* caption {
    display: table-caption;
    text-align: center;
    caption-side: bottom;
    font-weight: bold;
    font-style: oblique;
    text-decoration-line: underline;
    padding: 1rem;
} */

caption {
    display: table-caption;
    text-align: center;
    caption-side: bottom;
}

div {
    background-color: blanchedalmond;
}

table {
    background-color: aquamarine;
    text-align: center;
    border-collapse: collapse;
}

#one {
    font-size: 2rem;
    color: aliceblue;
    background-color: rgb(48, 48, 244);
}

thead tr:nth-child(2) {
    background-color: #013d28;
    color: aliceblue;
}

tbody tr:nth-child(even) {
    background-color: tomato;
}

#highlight {
    background-color: rgb(48, 48, 244);
    color: white;
}

th,
td {
    border: solid 2px purple;
    padding: 1rem 2rem;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1 {
    text-align: center;
}