@media only screen and (min-width:38em)
{
    /* :root{

        background-color: rgb(255, 183, 0);
    } */

    /* .header-container, #p_footer {
        font-size: 1.2em;
    } */

    /* .grid_col_span1_bmw{
        border-left: 1rem solid black;
    } */

    .grid_col_span3_amazon{
        grid-column:span 2;
        /* border-top: 1rem solid black; */
    }
}
