:root {
    background-color: rgb(2, 48, 71);
    --other-text: 'Lato', sans-serif;
    --paragraph-font: 'Open Sans', sans-serif;
    --title-font: 'Roboto', sans-serif;
    --testing: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 16px;
}

* {
    /* Delete the default html space */
    margin: 0;
    padding: 0;
}

body {
    /* Resolves problems with footer not staying on bottom */
    display: flex;
    flex-direction: column;

    /* Limit the with of page */
    min-width: 300px;
    min-height: 100vh;
}

header,
footer {
    background-color: rgb(2, 48, 71);
    color: rgb(251, 133, 0);
    text-align: center
}

.site-name-container h1 {
    font-size: 1.4rem;
    padding: 2rem 0 0 0;
}

.site-name-container h2 {
    font-size: 1.3rem;
    padding: 0 0 3rem 0;
    ;
}

main {
    /*It helps the footer to be on bottom */
    flex-grow: 1;
    background-color: aliceblue;

    width: 100%;
    height: auto;
}

.main-container {
    padding: 2rem 3rem;
}

nav {

    /* flex-direction: column; */
    justify-content: center;
    background-color: aquamarine;
    /* align-items: center; */
    font-family: var(--title-font);
    font-weight: bolder;
}

nav ul li {
    line-height: 4rem;
    display: block;
}

nav ul li a {
    /* This display menu full width */
    display: inline-block;

    font-size: 1rem;
    text-decoration: none;
}

nav ul li:hover {
    background-color: white;
}
nav ul li a:hover{
    color: rgb(1, 170, 114);
}

h1,
h2{
    color: rgb(255, 183, 3);
}
h3{
    color:rgb(20, 91, 84)
}

p,li {
    color: rgb(16, 46, 101);
}

li {
    list-style-position: inside;
}

img {
    width: 35%;
    height: auto;
}
footer{
    padding: 1rem;
}

.p_footer {
    /* padding: 1rem 0; */
    color: aliceblue;
}


/* scriptStyleDate */
span {
    font-weight: 700;
}

#year1 #date1 {
    color: rgb(255, 255, 255);
}