:root {
    /* --background: rgba(127, 255, 212); */
    --navigation: rgb(127, 255, 212);
    --footer: rgb(2, 48, 71);

    --nav-text: 'Lato', sans-serif;
    --paragraphs: 'Open Sans', sans-serif;
    --titles: 'Roboto', sans-serif;
    --testing: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    /* font-weight: 400; */
    font-size: 16px;
}

* {
    /* Delete the default html space */
    margin: 0;
    padding: 0;
    text-decoration: none;

    /* property allows us to include the 
    padding and border in an element's 
    total width and height so the interior
    never goes beyond specifications */
    box-sizing: border-box;
}

header {
    background: var(--navigation);
    text-align: center;

    /* position: relative places an element relative to its current 
    position without changing the layout around it */
    /* position: relative; */

    /* position: absolute places an element relative to its parent's 
    position and changing the layout around it */
    /* position: absolute; */

    /* means it always stays in the same place even if the page is scrolled. */
    /* position: fixed; */

    /* A sticky element toggles between relative and fixed , depending on 
    the scroll position. It is positioned relative until a given offset 
    position is met in the viewport - then it "sticks" in place 
    (like position:fixed). */
    /* position: sticky; */

    /* width: 100%; */

    /* CSS property that defines the order 
    of overlapping HTML elements. Elements 
    with a higher index will be placed on 
    top of elements with a lower index */
    /* z-index: 100; */
}

main {
    /*It helps the footer to be on bottom */
    flex-grow: 1;

    background-color: aliceblue;
    width: 100%;
    height: 100vh;
}

.logo {

    display: flex;
    justify-content: space-between;

    /* Align logo to center */
    display: inline-block;
    width: 80px;
    height: auto;
    padding: 5px;
}

#hamburgerBtn {
    position: absolute;
    padding: .7rem 1rem;
    font-size: 3rem;
    font-weight: lighter;
    border-style: none;
    background-color: transparent;
    color: var(--footer);
    cursor: pointer;

    /* Position */
    right: 0px;
    top: 0px;
}

#hamburgerBtn,
nav ul li {
    font-family: var(--nav-text);
    font-weight: bold;
}

#hamburgerBtn span:nth-child(1) {
    display: block;
}

#hamburgerBtn span:nth-child(2) {
    display: none;
}

#hamburgerBtn.open span:nth-child(1) {
    display: none;
}

#hamburgerBtn.open span:nth-child(2) {
    display: block;
}

span {
    font-family: var(--nav-text);
    font-weight: bolder;
}

nav ul {
    display: none;
    list-style-type: none;
}

nav ul li {
    flex-grow: 1;
    flex-shrink: 1;
    font-size: 1.5rem;
    text-align: center;

    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    /* font-family: var(--nav-text);
    font-weight: bolder; */
}

nav ul li a {
    /* Makes whole button link clickable */
    display: block;
    width: 100%;
    height: 100%;

    /* Gives space around */
    padding: 2rem 0;
    color: var(--footer);
}

nav ul.open {
    display: block;
}

nav ul li:hover {
    background-color: aliceblue;
}

nav ul li.active {
    background-color: aliceblue;
    /* border-style: outset; */
}

nav ul li.active a {
    color: rgb(1, 170, 114);
}

.content {
    display: grid;
    gap: 2rem;

    /* padding-block: 1rem ,0; */
    padding: 2rem 0;
    min-height: 100vh;
    height: auto;
    background-color: aliceblue;
    background-size: cover;
    border: 2px solid red;
}

section {
    display: flex;
    padding: 1rem;
    width: 100%;
    min-height: 20rem;
    height: auto;
    border: 2px solid rgb(255, 106, 0);
}

/* Hidding last section */
.grid-col-span:nth-child(5) {
    display: none;
    visibility: hidden;
}

.grid-nested {
    padding: 1rem;
    width: 100%;
    height: 20rem;
    border: 2px solid rgb(128, 0, 100);
}

/* Hidding last spotlight */
.grid-nested:last-child {
    display: none;
    visibility: hidden;
}

footer{
    display: flex;
    gap: 1rem;

    padding: 2em 1em;
    /* min-height: 100vh; */
    /* height: auto; */
    background-color: var(--navigation);
    /* background-size: cover; */
    border: 2px solid red;
    



    
    
}